.text-uppercase {
  text-transform: uppercase !important
}

.text-lowercase {
  text-transform: lowercase !important
}

.text-capitalize {
  text-transform: capitalize !important
}

.bold {
  font-weight: bold !important;
}

.font-size-larger {
  font-size: larger !important;
}