:root {
  /** primary **/
  --color-primary: #3880ff;
  --color-primary-shade: #3171e0;
  --color-primary-tint: #4c8dff;

  /** secondary **/
  --color-secondary: #0cd1e8;
  --color-secondary-shade: #0bb8cc;
  --color-secondary-tint: #24d6ea;

  /** tertiary **/
  --color-tertiary: #7044ff;
  --color-tertiary-shade: #633ce0;
  --color-tertiary-tint: #7e57ff;

  /** success **/
  --color-success: #008000;
  --color-success-shade: #007100;
  --color-success-tint: #1a8d1a;

  --color-unimed: rgb(20, 152, 84);

  /** warning **/
  --color-warning: #ffce00;
  --color-warning-shade: #e0b500;
  --color-warning-tint: #ffd31a;

  /** danger **/
  --color-danger: #f04141;
  --color-danger-shade: #d33939;
  --color-danger-tint: #f25454;

  /** dark **/
  --color-dark: green;// #222428;
  --color-dark-shade: green;// #1e2023;
  --color-dark-tint: green;// #383a3e;

  /** medium **/
  --color-medium: #989aa2;
  --color-medium-shade: #86888f;
  --color-medium-tint: #a2a4ab;

  /** light **/
  --color-light: #f4f5f8;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;
}

/* primary */
.b-primary {
  background-color: var(--color-primary) !important;
}

.primary-text {
  color: var(--color-primary) !important;
}

.primary-shade {
  background-color: var(--color-primary-shade) !important;
}

.primary-shade-text {
  color: var(--color-primary-shade) !important;
}

.primary-tint {
  background-color: var(--color-primary-tint) !important;
}

.primary-tint-text {
  color: var(--color-primary-tint) !important;
}

/* secondary */
.secondary {
  background-color: var(--color-secondary) !important;
}

.secondary-text {
  color: var(--color-secondary) !important;
}

.secondary-shade {
  background-color: var(--color-secondary-shade) !important;
}

.secondary-shade-text {
  color: var(--color-secondary-shade) !important;
}

.secondary-tint {
  background-color: var(--color-secondary-tint) !important;
}

.secondary-tint-text {
  color: var(--color-secondary-tint) !important;
}

/* tertiary */
.tertiary {
  background-color: var(--color-tertiary) !important;
}

.tertiary-text {
  color: var(--color-tertiary) !important;
}

.tertiary-shade {
  background-color: var(--color-tertiary-shade) !important;
}

.tertiary-shade-text {
  color: var(--color-tertiary-shade) !important;
}

.tertiary-tint {
  background-color: var(--color-tertiary-tint) !important;
}

.tertiary-tint-text {
  color: var(--color-tertiary-tint) !important;
}

/* success */
.success {
  background-color: var(--color-success) !important;
}

.success-text {
  color: var(--color-success) !important;
}

.success-shade {
  background-color: var(--color-success-shade) !important;
}

.success-shade-text {
  color: var(--color-success-shade) !important;
}

.success-tint {
  background-color: var(--color-success-tint) !important;
}

.success-tint-text {
  color: var(--color-success-tint) !important;
}

/* warning */
.warning {
  background-color: var(--color-warning) !important;
}

.warning-text {
  color: var(--color-warning) !important;
}

.warning-shade {
  background-color: var(--color-warning-shade) !important;
}

.warning-shade-text {
  color: var(--color-warning-shade) !important;
}

.warning-tint {
  background-color: var(--color-warning-tint) !important;
}

.warning-tint-text {
  color: var(--color-warning-tint) !important;
}

/* danger */
.danger {
  background-color: var(--color-danger) !important;
}

.danger-text {
  color: var(--color-danger) !important;
}

.danger-shade {
  background-color: var(--color-danger-shade) !important;
}

.danger-shade-text {
  color: var(--color-danger-shade) !important;
}

.danger-tint {
  background-color: var(--color-danger-tint) !important;
}

.danger-tint-text {
  color: var(--color-danger-tint) !important;
}

/* dark */
.dark {
  background-color: var(--color-dark) !important;
}

.dark-text {
  color: var(--color-dark) !important;
}

.dark-shade {
  background-color: var(--color-dark-shade) !important;
}

.dark-shade-text {
  color: var(--color-dark-shade) !important;
}

.dark-tint {
  background-color: var(--color-dark-tint) !important;
}

.dark-tint-text {
  color: var(--color-dark-tint) !important;
}

/* medium */
.medium {
  background-color: var(--color-medium) !important;
  border-color: var(--color-medium) !important;;
}

.medium-text {
  color: var(--color-medium) !important;
}

.medium-shade {
  background-color: var(--color-medium-shade) !important;
}

.medium-shade-text {
  color: var(--color-medium-shade) !important;
}

.medium-tint {
  background-color: var(--color-medium-tint) !important;
}

.medium-tint-text {
  color: var(--color-medium-tint) !important;
}

/* light */
.light {
  background-color: var(--color-light) !important;
}

.light-text {
  color: var(--color-light) !important;
}

.light-shade {
  background-color: var(--color-light-shade) !important;
}

.light-shade-text {
  color: var(--color-light-shade) !important;
}

.light-tint {
  background-color: var(--color-light-tint) !important;
}

.light-tint-text {
  color: var(--color-light-tint) !important;
}