@import "~ng-zorro-antd/ng-zorro-antd.css";
/*@import "~ng-zorro-antd/ng-zorro-antd.dark.css";*/
/*@import "~ng-zorro-antd/ng-zorro-antd.compact.css";*/
/*@import "~ng-zorro-antd/ng-zorro-antd.aliyun.css";*/

.hgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 999;
}

.flex {
  display: flex;
}

.vgroup {
  display: flex;
  flex-direction: column;
}

.w100 {
  width: 100%;
}
.w200 {
  width: 150%;
}

.h100 {
  height: 100%;
}

.p0 {
  padding: 0;
}

.p {
  padding: 5px;
}

.f1 {
  flex: 1;
}

.f03 {
  flex: 0.3;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.m {
  margin: 5px;
}

.mr {
  margin-right: 5px;
}

.ml {
  margin-left: 5px;
}

.mt {
  margin-top: 5px;
}

.mb {
  margin-bottom: 5px;
}

i {
  margin: 2px;
} /* You can add global styles to this file, and also import other style files */

.ac {
  align-items: center !important;
}
.big-text {
  font-size: 24px !important;
}
.medium-text {
  font-size: 18px !important;
}
.small-text {
  font-size: 10px !important;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.img32 {
  max-width: 32px;
  max-height: 32px;
}
.img64 {
  max-width: 64px;
  max-height: 64px;
}
.img128 {
  max-width: 128px;
  max-height: 128px;
}


.login{
  background-image: url("assets/imgs/galaxywpp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ant-modal-content {
  width: fit-content;
  height: fit-content;
}

.ant-modal{
  top: 10px !important;
}
.ant-layout-sider-children{
  display: flex !important;
  flex-direction: column !important;
}
